<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/content/css/main.css")" />
</head>
<body>
    <div class="page">
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>
